@media only screen and (min-width: 641px) {
	nav {
		/*position: fixed;*/
		position: relative; /* 이렇게 설정해줘야 header가 스크롤할 때 사라짐 */
		z-index: 100;
		left: 0;
		top: 0;
		width: 100%;
		height: 52px;
		background-color: #fff;
	}

	nav div.wrap {
		margin: 0 auto;
		width: 1180px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav div.wrap div.home {
		float: left;
		height: 100%;
	}

	nav div.wrap div.account {
		float: right;
	}
}

.home a img {
	width: 100%;
	height: 100%;
}

.searchBar {
	position: relative;
}

.searchBar .searchText {
	outline-style: none;
	border-radius: 18px;
	border: 1px solid #54b689;
	width: 350px;
	height: 30px;
	font-size: 15px;
	font-weight: 500;
	line-height: 16px;
	color: rgb(0, 0, 0);
	text-indent: 15px;
	padding-right: 50px;
}

.searchBar .searchBtn {
	color: #000;
	position: absolute;
	right: 10px;
	top: 3px;
	width: 30px;
	height: 30px;
}

#searchIcon {
	width: 1.2em;
	height: 1.2em;
}

.account {
	display: flex;
	align-items: center;
}

.account a {
	display: block;
	height: 30px;
	width: 90px;
	line-height: 30px;
	border: 2px solid #ffffff;
	border-radius: 4px;
	margin-left: 10px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
}

.loginState {
	display: flex;
	align-items: center;
}

.logoutState {
	display: flex;
	align-items: center;
}

.navIcon {
	display: flex;
	align-items: center;
}

.navIcon a {
	border: 0;
	margin: 0 10px;
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

#accountIcon,
#cartIcon {
	width: 1.4em;
	height: 1.4em;
	transition: 0.2s ease-out;
}

#accountIcon:hover,
#cartIcon:hover {
	width: 1.5em;
	height: 1.5em;
}

.account .loginState a:hover,
.account .logoutState > a:hover {
	background-color: #fff;
	color: #54b689;
}
