.wrapper {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	padding: 10px;
	background-color: white;
	margin-top: 350px;
	width: 400px;
	height: 467px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title-ctn {
	font-weight: bold;
	color: #646464;
	margin: 20px;
	width: 300px;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}
.title-ctn img {
	height: 3px;
	margin-top: 14px;
}

.input-ctn {
	height: 230px;
	width: 298px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* border: 1px solid red; */
}

.input {
	font-size: large;
	font-weight: bold;
	width: 324px;
	height: 56px;
	margin: 10px;
	padding-left: 20px;
	border: 1px solid #c9cbca;
}

.input-row {
	width: 500px;
	margin: 0;
	padding: 0;
	/* border: 1px solid blue; */
	display: inline-block;
}

.confirm-btn {
	margin: 0;
	/* padding: ; */
}

.btn-ctn {
	margin-top: 10px;
}
.btn {
	width: 241px;
	height: 53px;
	border-radius: 12px;
}

.login-btn {
	background-color: #3171543d;
	margin-top: -10px;
}

.register-btn {
	margin-top: 10px;
	background-color: #54b689;
}

button {
	font-size: large;
	font-weight: bold;
	color: #ffffff;
	border: none;
	margin: 8px;
}
