@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	box-sizing: border-box;
}

input:focus::placeholder {
	color: transparent;
}

ul {
	list-style: none;
	padding-inline-start: 0;
}

ol {
	list-style: none;
}

button,
a {
	border: 0;
	outline: 0;
	text-decoration: none;
	cursor: pointer;
}

* {
	margin: 0;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
		Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
		"Noto Sans KR", "Malgun Gothic", sans-serif;
}
